# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsix
*.testsettings

# Mac
.DS_Store

# ReSharper / Rider
.idea/
*.sln.iml
_ReSharper*/
*.[Rr]e[Ss]harper

# Build output
build/
*.exe
*.dll
*.o
*.obj
*.pdb
*.cache
out.txt
err.txt

# Copilot
.copilot/
